@{
    ViewBag.Title = "Inicial";
}
<div class="jumbotron">
    <h1>Exemplo</h1>
    <p class="lead">Cadastro de contatos desenvolvido em AngularJS e ASP.NET MVC usando uma base de dados SQL-SERVER com
            Entity Framework Code First.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Abrir &raquo;</a></p>
</div>