<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Deletar contato: {{contato.nome}} {{contato.sobrenome}} ?</h3>
</div>
<div class="modal-body">
    <div class="container">
        <form class="form-horizontal" role="form" id="contatoForm" name="contatoForm">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <div class="controls">
                    <input type="text" data-ng-model="contato.nome" class="form-control" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="contato.sobrenome" class="form-control" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input type="text" data-ng-model="contato.email" class="form-control" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Telefone</label>
                <div class="controls">
                    <input type="text" data-ng-model="contato.telefone" class="form-control" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Endereço</label>
                <div class="controls">
                    <input type="text" data-ng-model="contato.endereco" class="form-control" ng-disabled="true">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 pull-left">
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <button class="btn btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-thumbs-down"></i> Cancelar</button>
            <button class="btn btn-danger" ng-click="ok(contact)"><i class="glyphicon glyphicon-trash"></i> Deletar</button>
        </div>
    </div>
</div>